{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home page
{% endblock %}

{% block content %}
    <!--    welcome cafe-->

    <section id="learn" class=" w-100 my-5">
        <div class="container bg-light mt-5 ">
            <div class="row align-items-center justify-content-center py-3">
                <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'cafe_envorment.jpg' %}" class="img-fluid" alt="cafe_env"
                         style="width: 500px;height: 300px; object-fit: cover"/>
                </div>
                <div class="col-lg-6 col-md-12 p-5">
                    <h2>Welcome To Our Cafe</h2>
                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        This cafe has created by Team 5 in year 2022 based on imaginations.
                        The members of the team are safe and sound after maktab bootcamp78 bloody accident.<br>
                        <b>we are the only Survivors </b>


                    </p>
                    <p class="border-top">based on true story</p>
                    <a href="{% url 'orders:menu' %}" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Menu
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--    coffee-->
    <section class="my-5">
        <div class="container bg-light ">
            <div class="row">
                <h2 class="text-center mt-4 border-bottom pb-4 border-dark border-5">Today's Special:<i> Maktab
                    Coffee</i></h2>
            </div>
            <div class="row align-items-center justify-content-between py-3">

                <div class="col-lg-6 col-md-12 p-5">


                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit
                        quae similique laboriosam iste minus placeat odit velit quos,
                        nulla architecto amet voluptates?
                    </p>
                    <a href="{% url 'orders:menu' %}" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Menu
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
                    <img src="{% static 'cafe_love.jfif' %}" class="img-fluid" alt="cafe_env"
                         style="object-fit: cover;width: 500px;height: 300px"/>
                </div>
            </div>
        </div>
    </section>
    <!--    iranian tea-->
    <section class="my-5">
        <div class="container bg-light">
            <div class="row">
                <h2 class="text-center mt-4 border-bottom pb-4 border-dark border-5">Today's Special:<i> Maktab
                    Coffee</i></h2>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center mt-2">
                    <img src="{% static 'iranian_tea.jpg' %}" class="img-fluid" alt="cafe_env"
                         style="width: 500px ; height: 300px ; object-fit: cover"/>
                </div>

                <div class="col-lg-6 col-md-12 p-5">


                    <p class="lead">
                        A cafe with a lot of options that gives you the pleasure of having good time.<br>
                        our cafe is ready to serve you as you wish.
                    </p>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque
                        reiciendis eius autem eveniet mollitia, at asperiores suscipit
                        quae similique laboriosam iste minus placeat odit velit quos,
                        nulla architecto amet voluptates?
                    </p>
                    <a href="{% url 'orders:menu' %}" class="btn btn-outline-dark mt-3">
                        <i class="bi bi-chevron-right"></i> Menu
                    </a>
                </div>

            </div>
        </div>
    </section>

    <div class="container mt-5 border-top border-2">
        <footer class="mt-4">
            <div class="row mb-4 gy-4">
                <div class="col-lg-6 col-md-12 text-dark text-center align-items-center text-light">
                    <h2 class="text-center mb-4 text-light">Contact Info</h2>
                    <ul class="list-group lead">
                        <li class="list-group-item bg-dark text-light border-light">
                            <span class="fw-bold">Location:</span> Tehran, Kermanshah, Isfahan
                        </li>
                        <li class="list-group-item bg-dark text-light border-light">
                            <span class="fw-bold">Phone:</span> (021) 123-4567
                        </li>
                        <li class="list-group-item bg-dark text-light border-light">
                            <span class="fw-bold">Email:</span> cafesurvivors@email.com
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div id="map" class="mb-5 w-md-100 h-md-100"
                         style="width: 100%;height: 100%;border-radius: 10px;"></div>
                </div>
            </div>


            <div class="d-flex flex-column text-center flex-sm-row justify-content-center py-4 border-top text-light">
                <p>© 2022 Company, Inc. All rights reserved.</p>

            </div>
        </footer>
    </div>


    <script src="https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js"></script>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYnRyYXZlcnN5IiwiYSI6ImNrbmh0dXF1NzBtbnMyb3MzcTBpaG10eXcifQ.h5ZyYCglnMdOLAGGiL1Auw'
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [51.4215, 35.6966],
            zoom: 5,
        })
    </script>

{% endblock %}



