{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="px-5">
    <div class="container-fluid mt-5">
        <div class="row mb-5">
            <div class="col-lg-4 col-md-6">
                <div class="row mt-3 ms-0">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action" id="list-drink-list"
                           data-bs-toggle="list" href="#list-Drink" role="tab" aria-controls="list-home">Drinks</a>
                        <a class="list-group-item list-group-item-action" id="list-cake-list" data-bs-toggle="list"
                           href="#list-Cake" role="tab" aria-controls="list-profile">Cakes</a>
                        <a class="list-group-item list-group-item-action" id="list-smoke-list" data-bs-toggle="list"
                           href="#list-Smoke" role="tab" aria-controls="list-profile">Smokes</a>

                    </div>
                </div>
                <div class="row h-100 justify-content-center ms-0">
                    <ul class="list-group mt-5 side_items">

                        {% for item,c in pack %}
                        <li id="{{ item.slug }}" class="list-group-item">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-4">
                                    {{ item.slug }}
                                </div>

                                <div class="col-4 d-flex justify-content-center">
                                    <button id="down" class="btn btn-default"
                                            onclick="down('1','{{ item.slug }}')"><span
                                            class="glyphicon glyphicon-minus">-</span></button>
                                    <input type="text" id="{{ item.slug }}"
                                           class="form-control" value="{{ c }}" style="width: 85px"/>
                                    <button id="up" class="btn btn-default"
                                            onclick="up('20','{{ item.slug}}')"><span
                                            class="glyphicon glyphicon-plus">+</span></button>
                                </div>
                                <div class="col-4 d-flex justify-content-end">
                                    <button id="up" class="btn btn-danger ms-5"
                                            onclick="del('{{item.slug}}')"><span
                                            class="glyphicon glyphicon-plus">DEL</span></button>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <button
                                    class="btn btn-outline-dark me-2 mt-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#enroll"
                            >
                                Seat Selection
                            </button>
                        </li>


                    </ul>

                </div>
            </div>

            <div class="col-lg-8  col-md-6">
                <div class="tab-content" id="nav-tabContent">

                    {% for category in list_of_category %}
                    <div class="tab-pane fade show active" id="list-{{ category }}" role="tabpanel"
                         aria-labelledby="list-home-list">
                        <div class="row">
                            {% for menu_item in menu_items %}

                            {% if menu_item.category == category %}
                            <div class="col-lg-4 col-md-6 gy-3">
                                <div class="card">
                                    <img src={{ menu_item.image.url }}
                                         class="card-img-top img-fluid"
                                         alt="Fissure in Sandstone"/>
                                    <div class="card-body text-center">
                                        <h5 class="card-title">{{ menu_item.slug }}</h5>
                                        <h5 class="card-price"></h5>
                                        <span class="card-discount text-danger">{{ menu_item.discount }}%</span>
                                        <h6 class="line-through lead">
                                            <del> {{ menu_item.price}} T</del>
                                        </h6>

                                        <div class="d-grid gap-2">
                                            <button id="{{ menu_item.slug }}"
                                                    class="btn btn-outline-dark add_item me-2"
                                                    type="button">+
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    </div>
    </div>
</section>


<div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="enrollLabel">Seat Selection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p class="lead">Entrance Door</p>
                <form action="">
                    <div class="row">
                        {% for table in tables %}

                        <div class="col-4">
                            {% if table.use %}
                            <button type="button" id="table{{table.id}}" class="btn btn-danger table disabled">Table
                                {{table.id}}
                            </button>
                            {% else %}
                            <button type="button" id="table{{table.id}}" class="btn btn-secondary table">Table
                                {{table.id}}
                            </button>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>


                    <p class="lead">Cashier</p>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close
                </button>
                <a type="button" id="make_order" onclick="make_order()" class="btn btn-primary">Make Order</a>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    $(document).ajaxSend(function (event, jqxhr, settings) {
    jqxhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
    });

    function make_order() {

        $.ajax({
            url: "{% url 'orders:table' %}",
            type: 'POST',
            success: function (data) {
                if (data == 'None') {
                    alert("You didn't select a table. Please select one to continue.")

                } else {
                    window.location.href = "{% url 'orders:order' %}"
                }

            }
        })
    }


    let myDict = {};
    document.addEventListener('DOMContentLoaded', () => {
        const drink = document.querySelector('#list-Drink')
        const cake = document.querySelector('#list-Cake')
        const smoke = document.querySelector('#list-Smoke')
        smoke.style.display = 'none';
        cake.style.display = 'none';


        document.querySelector('#list-drink-list').addEventListener('click', e => {
            e.preventDefault()
            cake.style.display = 'none';
            smoke.style.display = 'none';
            drink.style.display = 'block';
        })

        document.querySelector('#list-cake-list').addEventListener('click', e => {
            e.preventDefault()
            drink.style.display = 'none';
            smoke.style.display = 'none';
            cake.style.display = 'block';
        })

        document.querySelector('#list-smoke-list').addEventListener('click', e => {
            e.preventDefault()
            smoke.style.display = 'block';
            cake.style.display = 'none';
            drink.style.display = 'none';


        })

    })


    $('.table').on('click', function (e) {

        if (e.currentTarget.className.includes("click")) {

            $.ajax({
                url: "{% url 'orders:delete' %}",
                type: 'POST',
                data: 'table',
            })


            $(`#${
                    e.currentTarget.id
            }`).css('background-color', '#6C757D');
            $(`#${
                    e.currentTarget.id
            }`).removeClass('click');

        } else {
            let z = {}
            z["table"] = e.currentTarget.id.replace("table", '')
            $.ajax({
                url: "{% url 'orders:set' %}",
                type: 'POST',
                data: JSON.stringify(z),
                contentType: 'application/json'
            })

            $(`#${
                    e.currentTarget.id
            }`).css('background-color', '#07c941');

            $(`#${
                    e.currentTarget.id
            }`).addClass('click');
        }

    });


    $(".add_item").on('click', function (e) {
        let x = {}
        x[e.currentTarget.id] = '1'
        $.ajax({
            url: "{% url 'orders:set' %}",
            type: 'POST',
            data: JSON.stringify(x),
            contentType: 'application/json',
        })
        myDict[e.currentTarget.id] = 1;
        $(`#${e.currentTarget.id}`).addClass('disabled')
        $("ul").prepend(`<li id="${e.currentTarget.id}_li" class="list-group-item">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-4">

                                        ${e.currentTarget.id.replace('_', ' ')}
                                    </div>

                                    <div class="col-4 d-flex justify-content-center">
                                        <button id="down" class="btn btn-default" onclick="down('1','${e.currentTarget.id}_item')"><span class="glyphicon glyphicon-minus">-</span></button>
                                        <input type="text" id="${e.currentTarget.id}_item" class="form-control" value="1" style="width: 85px"/>
                                        <button id="up" class="btn btn-default" onclick="up('20','${e.currentTarget.id}_item')"><span class="glyphicon glyphicon-plus">+</span></button>
                                    </div>
                                    <div class="col-4 d-flex justify-content-end">
                                        <button id="up" class="btn btn-danger ms-5" onclick="del('${e.currentTarget.id}')"><span class="glyphicon glyphicon-plus">DEL</span></button>
                                    </div>
                                </div>

                            </li>`);
    });

    function up(max, item) {
        myDict[item.replace('_item', '')] = (myDict[item.replace('_item', '')] || 1) + 1
        document.getElementById(item).value = parseInt(document.getElementById(item).value) + 1;
        if (document.getElementById(item).value > parseInt(max)) {
            document.getElementById(item).value = max;
        } else {
            $.ajax({
                url: "{% url 'orders:up' %}",
                type: 'POST',
                data: item.replace('_item', ''),
            })
        }
    }

    function down(min, item) {
        myDict[item.replace('_item', '')] = (myDict[item.replace('_item', '')] || 1) - 1
        document.getElementById(item).value = parseInt(document.getElementById(item).value) - 1;
        if (document.getElementById(item).value < parseInt(min)) {
            document.getElementById(item).value = min;


        } else {
            $.ajax({
                url: "{% url 'orders:down' %}",
                type: 'POST',
                data: item.replace('_item', ''),
            })
        }
    }

    function del(item) {
        $.ajax({
            url: "{% url 'orders:delete' %}",
            type: 'POST',
            data: item,
        })
        $(`#${item}`).removeClass('disabled')
        $(`#${item}_li`).remove()
    }


    $(".list-group-item-action").on('click', function (e) {
        $(".list-group-item").removeClass('bg-dark border border-light')
        $(`#${e.currentTarget.id}`).addClass('bg-dark border border-light')


    })


</script>

{% endblock %}
